.header{
    font-size: 1.5em;
    background-color: rgb(204, 243, 243); 
    padding:1% 2%;
}
#repositories{
    height:2.5em;
    width:40%;
    font-size:.55em;
}
.body{
    background-color:rgb(93, 155, 196);
    height:600px;
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr;
    grid-gap:2%;
}
.repo{
    background-color:whitesmoke;
    font-size:0.5em;
    padding-left:6%;
    
}
.contributors{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr;
    font-size:0.5em;
 
}
ul {
    list-style-type: none;
}
#contributorList{
    padding-left: 4%;
}
#numberOfContributions{
    text-align:right;
    padding-right:10%;
}
